{% extends 'base.html' %}

{% block body %}
<div class="container>">
    <div class="col-md-8">
           <form method="post">
         {% csrf_token %}
         {{form.as_p}}
         <button type="submit">button</button>
     </form>
         {% for post in posts %}
            <h1>{{ post.post }}</h1>
            <p1>Posted by : {{post.user}}<br></p1>
            <p1>{{post.created}}</p1>

        {% endfor %}

    </div>

 <div class="col-md-4">
        <h2>Other People</h2>
         {% for user in users %}
            <a href="{% url 'profile_pk' pk=user.pk %}">
                <h3>{{ user.username }}</h3>
            </a>
        {%endfor%}</a>
     <h2>Friends</h2>
    </div>

</div>
{% endblock %}